{% extends "base.html" %}

{% block titulo %} Nosotros - Empresa de Viajes {% endblock %}

{% block contenido %} 

<style>
    body {
        background-color: #ffffff;
        color: #000000;
    }
</style>


<div class="container-fluid mt-5">
    <div class="p-5 mb-4 rounded-3 text-white text-center" style="background: linear-gradient(to right, #ac2200, #941e00);">
        <div class="container text-center">
            <i class="bi bi-globe2 display-1 text-primary"></i>
            <h1 class="display-3 fw-bold">Bienvenidos a Viajes Increíbles</h1>
            <p class="col-md-8 fs-4 mx-auto">Explora el mundo con nosotros y vive experiencias únicas.</p>
            <hr class="my-4">
        </div>
    </div>       
    <div class="row">
        <div class="col-md-8 mx-auto">
            <p class="lead text-muted">En Viajes Increíbles, nos apasiona hacer realidad tus sueños de viaje. Desde nuestros inicios, hemos estado comprometidos a ofrecer las mejores experiencias de viaje para nuestros clientes.</p>

            <p class="text-muted">Nuestro equipo de expertos está dedicado a brindarte momentos inolvidables y a hacer que cada viaje sea una aventura única. Creemos en la pasión por descubrir nuevos destinos, en la calidad de servicio y en crear recuerdos que perduren toda la vida.</p>

            <p class="text-muted">Viaja con nosotros y descubre un mundo lleno de emociones y experiencias inolvidables. Estamos aquí para hacer que tus sueños de viaje se conviertan en realidad.</p>
        </div>
    </div>

    <div class="mt-5">
        <h3 class="mb-4 text-primary text-center">Nuestra Misión</h3>
        <p class="text-muted text-center">En Viajes Increíbles, nuestra misión es inspirar y enriquecer la vida de las personas a través de experiencias de viaje excepcionales, brindando servicios de calidad y creando recuerdos inolvidables.</p>
    </div>

    <div class="mt-5">
        <h3 class="mb-4 text-primary text-center">Valores Fundamentales</h3>
        <ul class="list-unstyled text-center">
            <li><strong class="text-success">Pasión por el Viaje:</strong> Nos apasiona explorar el mundo y compartir esa pasión con nuestros clientes.</li>
            <li><strong class="text-success">Calidad de Servicio:</strong> Nos comprometemos a ofrecer un servicio de alta calidad y a superar las expectativas de nuestros viajeros.</li>
            <li><strong class="text-success">Experiencias Únicas:</strong> Creemos en la importancia de crear experiencias de viaje auténticas y memorables para nuestros clientes.</li>
        </ul>
    </div>

    <footer><br><br><br><br></footer>

</div>


{% endblock %}
